


{% extends 'layout.html' %}

{% block title %}404 - Die Seite wurde nicht gefunden{% endblock %}

  {% block content %}

<div class="errorBody">

  <div class="header errorHeader">  
  	<span class="redder">
	  <h1 class="redder">404</h1>
	  <h2 class="redder">Die Seite existiert nicht.</h2>
	   <h2 class="redder" style="white-space:normal">Ein Techniker macht sich soeben auf den Weg.</h2><br>
	  <a href="/" class="button errorButton">Schnell zurück</a>
	</span>
 </div>	  



</div>

{% endblock %}
