



{% extends 'layout.html' %}

{% block title %}DieLiebsten - Dein Leben in Bestenlisten{% endblock %}

  {% block content %}


  <div class="header">
	  <a href="/"><h1>Die liebsten</h1></a>
	  <h2>Dein Leben in Bestenlisten</h2>
 </div>	  




<div class="wrapper">
	
	<a class="button backButton" href="/"><i class="icon-arrow-left"></i>Zurück</a>
	<div class="clear"></div>
</div>
 
 <div class="wrapper">

	<div class="wrap"> 
	    <h2 class="indentedForm">Neues Passwort anlegen:</h2>
	   		 <form name="newpwd" action="/newpwd">
	   		 		 <input type="text" name="theName" class="input mainFormInput" placeholder="Benutzername"><br>
					 <input type="password" name="pwd1"class="input mainFormInput" placeholder="Passwort"><br>
					 <input type="password" name="pwd2"class="input mainFormInput" placeholder="Passwort wiederholen"><br>
					 <input type="hidden" name="theTicket" value="{{ticket}}">
					 <input type="submit" value="Neues Passwort" class="button mainFormButton invertedButton" id="submit"><br>
	   		 </form>	
	   		 <br>
	   		 <div id="error1Con" class="hidden">
		 		<span class="error mainError" id="error1"></span>
			</div>
	</div>
	<div class="wrap"> 
	<i class="icon-unlock-alt mainIcon" style="font-size:68px;"></i><br><p>Lege dir jetzt ein neues Passwort an. Versuch es dir jedoch dieses mal zu merken.</p>
	
	</div>
	
	<div class="clear"></div>

 </div>
 <div class="wrapper">
 	<div class="clear" style="padding-bottom:100px"></div>

 </div>

<script>

$('form[name=newpwd]').submit(function(){
    	document.getElementById("error1Con").className = "hidden";
    	document.getElementById("submit").className="hidden";
    $.post($(this).attr('action'), $(this).serialize(), function(res){
    	if(res.error.length==0) {window.location = "/";}
        document.getElementById("error1").innerHTML = res.error;
        document.getElementById("error1Con").className = "animated shake";
        document.getElementById("submit").className="button mainFormButton invertedButton";
    });
    return false;
});
</script>






{% endblock %}